@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

/*
link: https://www.youtube.com/watch?v=SjtdH3dWLa8
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

body {
    background-attachment: fixed;
    text-align: center;
    min-height: 100vh;
}

/* video background */
#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

main {
    margin: 2%;
    display: inline-block;
    padding: 15px;
    position: relative;
    left: -20%;
}

h2 {
    color: black;
    padding: 0;
}

footer {
    padding: 5px;
}

.pokedex {
    width: 100%;
    max-width: 400px;
}

.pokemon_image {
    position: absolute;
    left: 50%;
    bottom: 55%;
    transform: translate(-63%, 20%);
    height: 13%;
}

.pokemon_data {
    position: absolute;
    font-weight: 600;
    color: #aaa;
    top: 54.5%;
    right: 27%;
    font-size: clamp(8px, 5vw, 25px);
}

.pokemon_name {
    color: #3a444d;
    text-transform: capitalize;
}

.pokemon_description {
    position: absolute;
    display: inline-block;
    top: 5%;
    padding-top: 0;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 30%;
    right: 5%;
    font-size: clamp(5px, 3vw, 20px);
    outline: none;
    border: 2px solid #333;
    background-color: turquoise;
    border-radius: 5px;
}

.form {
    position: absolute;
    width: 65%;
    top: 70%;
    left: 13.5%;
}

.input_search {
    width: 100%;
    padding: 4%;
    outline: none;
    border: 2px solid #333;
    border-radius: 5px;
    font-weight: 600;
    color: #3a444d;
    font-size: clamp(8px, 5vw, 25px);
    box-shadow: - 3px 4px 0 #888, -5px 7px 0 #333;
}

.buttons {
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 65%;
    transform: translate(-57%, 0);
    display: flex;
    gap: 20px;
}

.audio-buttons {
    position: absolute;
    display: inline-flex;
    bottom: 90%;
    left: 10%;
    width: 65%;
    transform: translate(-57%, 0);
    display: flex;
    gap: 20px;
}


.button {
    width: 50%;
    padding: 4%;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: clamp(8px, 5vw, 1rem);
    font-weight: 600;
    color: white;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

.button:active {
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.9rem;
}

@media only screen and (max-width: 1200px) {

    main {
        padding: 0px;
        left: 0;
        transform: translate(0%, 5%);
    }

    .button {
        width: 50%;
        font-size: clamp(6px, 4vw, 1rem);
    }

    .pokemon_description {
        position: absolute;
        top: 75%;
        bottom: 15%;
        padding-top: 0;
        padding-left: 15%;
        padding-right: 15%;
        padding-bottom: 30%;
        transform: translate(-45%, -20%);
    }

}


@media only screen and (max-width: 1000px) {

    main {
        padding: 0;
        left: 0;
        transform: translate(0%, -15%);
    }

    .button {
        width: 50%;
        font-size: clamp(6px, 4vw, 1rem);
    }

    .pokemon_description {
        display: inline-block;
        position: absolute;
        right: 17%;
        bottom: 15%;
        padding-top: 0;
        padding-left: 15%;
        padding-right: 15%;
        padding-bottom: 30%;
        transform: translate(-20%, -60%);
    }
}